@import '@/scss/bulma-preset-overrides.scss';
@import '../../node_modules/bulma/bulma';

$steps-maker-default-color: $grey-lightest;
$steps-marker-default-border: none;
$steps-default-color: $grey-lighter;
$steps-completed-color: $grey-lightest;
$steps-active-color: $interactive-navigation;
$steps-divider-height: 0.1em;

.steps {
  .step-item {
    color: $interactive-navigation-inactive;

    &.is-active {
      color: $interactive-navigation;

      .step-marker {
        color: $interactive-navigation !important;
        background-color: $grey-lightest !important;
      }
    }

    &.is-completed {
      color: $interactive-navigation;

      &.is-active {
        color: $interactive-navigation !important;
      }
    }

    .step-marker {
      color: $interactive-navigation-inactive !important;
    }

    .step-title {
      margin-bottom: 0.4rem;
    }
  }

  .steps-content {
    margin-bottom: 0 !important;
  }
}
